# =====================================================
# Preseed Debian 12 - Installation automatique
# =====================================================

# Localisation
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us
d-i netcfg/choose_interface select auto
d-i netcfg/dhcp_timeout string 60
d-i netcfg/dhcp_hostname string debian

# Miroir
d-i mirror/country string manual
d-i mirror/http/hostname string deb.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Compte utilisateur
d-i passwd/root-login boolean true
d-i passwd/make-user boolean true
d-i passwd/user-fullname string Vagrant User
d-i passwd/username string vagrant
d-i passwd/user-password password vagrant
d-i passwd/user-password-again password vagrant
d-i passwd/root-password password vagrant
d-i passwd/root-password-again password vagrant

# Partitionnement
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Paquets
tasksel tasksel/first multiselect standard
d-i pkgsel/include string openssh-server sudo chrony linux-headers-amd64
d-i pkgsel/install-language-support boolean false
d-i preseed/late_command string \
  echo 'vagrant ALL=(ALL) NOPASSWD:ALL' > /target/etc/sudoers.d/vagrant ; \
  chmod 440 /target/etc/sudoers.d/vagrant ; \
  sed -i 's/^#*PermitRootLogin.*/PermitRootLogin yes/' /target/etc/ssh/sshd_config ; \
  sed -i 's/^#*PasswordAuthentication.*/PasswordAuthentication yes/' /target/etc/ssh/sshd_config

# Curl
d-i pkgsel/include string openssh-server sudo curl chrony linux-headers-amd64 

# Grub
d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string default

# Fin
d-i finish-install/reboot_in_progress note
